* { 
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	
}

header {
	width: 100%;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	width: 100%;
	padding: 30px 30px 15px 30px;
	text-align: left;
}

header img {
	width: 40%;
	height: auto;
	min-width: 206px;
	min-height: 150px;
	max-height: 240px;
	max-width: 330px;
	padding-top: 30px;

	border-top: 1px solid #8f9091;

}

header div {
	padding-top: 30px;
	display: inline-block;
	float: right;
	color: #ff5252;
	font-weight: 100;
	text-align: right;
	width: 140px;
	font-size: 20px;
	border-top: 1px solid #8f9091;

}

#langcont span {
	display: block;
}

h1 {
	font-style: italic;
	font-weight: lighter;
	border-top: 1px solid #8f9091;
	padding: 30px;
	padding-left: 0px;
	padding-right: 0px;
	font-color: white;
	text-align: center;
	font-size: 7vw;
}

h2{
	color: #000;
	//color: #ff5252;
	text-align: left;
	letter-spacing: 3.2px;
	text-transform: uppercase;
	font-size: 23px;
	padding-left: 5px;
}

body {
	display: block;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	background-image: url("https://farm1.staticflickr.com/923/41520642050_38d440dd47_o.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed:;
	background-position: left top;
	height: 100vh;
	width: 100%;
}

main {
	padding: 0px 30px 30px 30px;
	color: white;
	display: block;
}

form {  
  display: inline-block;
  height: 60px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  text-align: center;
}

form input {
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  height: 60px;
  font-size: 60px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  border: none;
  outline: none;
  color: #ff5252;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  transition: width 4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
  border-bottom: 1px solid #8f9091;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

form button{
 text-indent: -10000px;
 font-size: 6em; 
 display: block;
 width: 0.4em;
 height: 0.4em;
 border: 0.045em solid #ff5252;
 position: relative;
 border-radius: 0.20em;
 background-color: transparent;
 cursor: pointer;
}

form button::before
{
 content: "";
 display: block;
 position: absolute;
 right: -0.20em;
 bottom: -0.1em;
 border-width: 0;
 background: #ff5252;
 width: 0.25em;
 height: 0.05em;
 -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
}

/*SLIDE STYLES*/

section button {
	box-sizing: border-box;
	font-weight: 700;
	background-color: #DCDCDC;
	color: #b0b0b0;
	padding: 16px 32px 16px 32px;
	border-color: #b0b0b0;
	display: inline;
	cursor: pointer;
	text-transform:  uppercase;
	letter-spacing: .2rem;
	background color: rgb(220, 220, 220);
	margin: 0 0 0 0;
	border: none;
	margin: 30px;
}

section button:hover {
	background-color: #000000;
	color: #fff;
}

.toSlide {
	text-align: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #fff;
	z-index: 900;
	-webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.toSlide.fromRight{
	top: 0px;
    right: -100%;
    display: block;
}

.toSlide.fromRight.open{
	position: fixed;
	top: 0px;
    right: 0px;	
}

.reddit-Results {
	float: left;
	color: white;
	width: 100%;
}

.mainboxwrap {
	border-top: 1px solid #8f9091;
	padding: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 100%;
}

/*SLIDE SCROLLBOX*/

.toSlide {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-image: url("https://farm2.staticflickr.com/1782/41436512890_353aaab0c5_o.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed:;
  background-position: left top;
}
.toSlide::-webkit-scrollbar {
  width: .4em; 
}
.toSlide::-webkit-scrollbar,
.toSlide::-webkit-scrollbar-thumb {
  overflow:visible;

}
.toSlide::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
}
.cover-bar {
  position: absolute;
  background: #ff5252;
  height: 100%;  
  top: 0;
  right: 0;
  width: .4em;
  -webkit-transition: all .5s;
  opacity: 1;
}

.scroll-bar-wrap:hover .cover-bar {
   opacity: 0;
  -webkit-transition: all .5s;
}

/*SCROLL BOX STYLES*/

.resultbox-wrap .left {
  display: block;
  width: 85%;
  height: 50%;
  position: absolute;
  margin: 2em left;
}
.resultbox-wrap .right {
  display: block;
  width: 85%;
  height: 50%;

  margin: 2em right;
}
.resultbox {
  display: block;
  margin: auto;
  width: 85%;
  height: 700px;
  overflow-y: scroll;
  background: #fff;
  border-radius: 4%;
}
.resultbox::-webkit-scrollbar {
  width: .4em; 
}
.resultbox::-webkit-scrollbar,
.resultbox::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.resultbox::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
}
.cover-bar {
  position: absolute;
  background: transparent;
  height: 100%;  
  top: 0;
  right: 0;
  width: .4em;
  -webkit-transition: all .5s;
  opacity: 1;
}

.scroll-bar-wrap:hover .cover-bar {
   opacity: 0;
  -webkit-transition: all .5s;
}

/*REDDIT JSON RETURN STYLE*/

.reddit-Results p{
	text-align: left;
	
}

/*YOUTUBE JSON RETURN STYLE*/


.redditcells {
	text-align: left;
	border-bottom: 1px solid #8f9091;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
}

.redditcells span {
	display: inline-block;
}

.containpostdata {
	text-align: left;
	display: block;
	padding: 5px;
}

.js-search-data {
	font-weight: bolder;
	color: #434547;
	font-size: 14px;
}

.sub {
	color: #434547;
	font-style: italic;
	font-size: 12px;
} 

.ups {
	color: #8f9091;
	font-size: 12px;
}

.youtubecells {
	display: inline-block;
}

.js-search-data {
	color: #000;
	text-decoration: none;
	font-weight: bolder;
	display: block;
	width: 186px;
	height: 32px;
	text-align: left;
	line-height: 16px;
	max-height: 32px;
	overflow: hidden;
	text-overflow: ellipsis;
}

a {
	text-decoration: none;
}

a img {
	height: 117.500px;
	width: 210px;
	display: inline-block;
}

.youtubetextbox {
	padding-top: 5px;
	padding-right: 24px;
}

a div {
	margin: 0px;
	display: inline-block;
	position: absolute;
}

.channel {
	color: #8f9091;
	text-align: left;
	display: block;
}


/*MAKE RESPONSIVE*/

@media screen and (max-width: 600px){

	header img { 
	display: block;
	margin-right: auto;
	margin-left: auto;

	padding-bottom: 30px;
	}

	header div {
	padding-top: 30px;
	display: inline-block;
	float: none;
	text-align: center;
	width: 100%;
	border-top: 1px solid #8f9091;
	margin-right: auto;
	margin-left: auto;
    }

	#langcont span {
		display: block;
	}

	form {
	float: left;
	}

	form input {
		font-size: 40px;
		width: 87vw;
	}

	body {
		margin-top: 0px;
	}

}

}
